@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
    --padding-container: 100px 0;
    --color-title: #001A49;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}
.texto-proyecto {
    margin-top: 20px;

}
.centrar-titulo{
    text-align: center;

}

.hero {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('../images/computer.jpg');
    background-size: cover;
    z-index: -1;
}


/* Nav */

.nav {
    --padding-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav__title {
    font-weight: 300;
}

.nav__link {
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nav__items {
    list-style: none;
}

.nav__links {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.nav__menu {
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav__img {
    display: block;
    width: 30px;
}


.nav__close {
    display: var(--show, none);
}


/* Hero container */

.hero__container {
    max-width: 800px;
    --padding-container: 0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}

.hero__title {
    font-size: 3rem;
}

.hero__paragraph {
    margin-bottom: 20px;
}

.cta {
    display: inline-block;
    background-color: #2091F9;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
}

/* About */

.about {
    text-align: center;
}

.subtitle {
    color: var(--color-title);
    font-size: 2rem;
    margin-bottom: 25px;
}


.about__paragraph {
    line-height: 1.7;
}

.about__main {
    padding-top: 50px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}


.about__icons {
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    overflow: hidden;
    margin: 0 auto;
}

.about__icon {
    width: 200px;
}

/* Knowledge */

.knowledge {
    background-color: #e5e5f7;
    background-image: radial-gradient(#c48fec 0.5px, transparent 0.5px), radial-gradient(#1c2181 0.5px, #e5e5f7 0.5px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    overflow: hidden;
}

.knowledge__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items: center;
}

.knowledge__picture{
    max-width: 700px;
}

.knowledge__paragraph{
    line-height: 1.7;
    margin-bottom: 15px;
}

.knowledge__img{
    width: 100%;
    display: block;
}

/* Footer */

.footer{
    background-color: #1D293F;
}

.footer__title{
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 30px;
}

.footer__title, .footer__newsletter{
    color: #fff;
}


.footer__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 60px;
}

.nav--footer{
    padding-bottom: 20px;
    display: grid;
    gap: 1em;
    grid-auto-flow: row;
    height: 100%;
}

.nav__link--footer{
    display: flex;
    margin: 0;
    margin-right: 20px;
    flex-wrap: wrap;
}
.contenido0 h1 { 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: center;
    font-size: 200%;
    padding-top: 30px;
    padding-bottom: 20px;
}

.Container{
	margin: 0%;
	padding: 50px;
	background-color: rgb(231, 196, 254);
    justify-content: center;
}
#Panel_galeria{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

#Panel_galeria div>img{
	max-width: 100%;
	display: block;
	border-radius: 6px;
}

#Panel_galeria div{
	margin: 15px;
	flex-basis: 200px;
	padding: 5px;
}
#Panel_galeria div>label{
    display: flex;
    justify-content: center;
}
#imagen{
	margin: 15px;
	flex-basis: 200px;
	padding: 5px;
    align-items: center;
}
.footer__inputs{
    margin-top: 10px;
    display: flex;
    overflow: hidden;
}

.footer__input{
    background-color: #fff;
    height: 50px;
    display: block;
    padding-left: 10px;
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
    border: none;
    margin-right: 16px;
}

.footer__submit{
    margin-left: auto;
    display: inline-block;
    height: 50px;
    padding: 0 20px ;
    background-color: #2091F9;
    border: none;
    font-size: 1rem;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}

.footer__copy{
    --padding-container: 30px 0;
    text-align: center;
    color: #fff;
}

.footer__copyright{
    font-weight: 300;
}

.footer__icons{
    margin-bottom: 10px;
}

.footer__img{
    width: 30px;
}

/* Formulario*/

.formulario {
    background-color: #caace1;
    padding-top: 30px;
    padding-bottom: 20px;
}

.formulariotexto {
    text-align: center;
}
table{
    width: 80%;
    margin: 40px auto;
    background: rgb(227, 204, 225);
    padding: 20px;
}
table.list{
    text-align: center;
    width: 100%;
}
td{
    border: 1px solid rgb(255, 237, 237);
    text-align: left;
    padding: 8px 15px;
}

tr:nth-child(even), table.list thread> tr{
    background-color: rgb(245, 190, 190);
}

.formulita[type="text"]{
    width:91%;
    padding:12px 20px;
    margin:8px 0;
    display: inline-block;
    border: 1px solid rgb(165,161,161);
    border-radius: 4px;
}

.formulita[type="submit"],input[type="reset"]{
    background: #eee;
    padding:6px 12px;
    margin:15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}
.formulita[type="reset"],input[type="submit"]{
    background: #eee;
    padding:6px 12px;
    margin:15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

.formulita[type="submit"]:hover{
    background: #4b99d8;
}

.formulita[type="reset"]:hover{
    background: #4b99d8;
}
button{
    background: #eee;
    padding:6px 12px;
    margin:15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}
button:hover{
    background:#4b99d8 ;
}


/* Media queries */

@media (max-width:800px){
    .nav__menu{
        display: block;
    }

    .nav__link--menu{
        position: fixed;
        background-color: #000;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;
    }

    .nav__link--show{
        --show: block;
        opacity:1 ;
        pointer-events: unset;
    }

    .nav__close{
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
    }

    .hero__title{
        font-size: 2.5rem;
    }


    .about__main{
        gap: 2em;
    }

    .about__icons:last-of-type{
        grid-column: 1/-1;
    }


    .knowledge__container{
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        gap: 3em;
        text-align: center;
    }

    .knowledge__picture{
        grid-row: 1/2;
        justify-self: center;
    }


    .questions__copy{
        width: 100%;
    }

    .footer__container{
        flex-wrap: wrap;
    }

    .nav--footer{
        width: 100%;
        justify-items: center;
    }

    .nav__link--footer{
        width: 100%;
        justify-content: space-evenly;
        margin: 0;
    }

    .footer__form{
        width: 100%;
        justify-content: space-evenly;
    }

    .footer__input{
        flex: 1;
    }

}
 

.contact{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact__image-wrapper{
    height: 100%;
    width: 50%;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.contact__image{
    width: 100%;
}

.contact__right-side{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding:0 7.3% 0 4.7%;
    width: 50%;
}

.contact__title{
    font-size: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 0px;
    margin-top: 0px;
    font-weight: bold;
}

.contact__form-wrapper, .contact__input-line{
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 10px;
    width: 100%;
}

.contact__input-line{
    margin-bottom: 10px;
}

.contact__label{
    font-size: 18px;
    font-weight: 600;
}

.contact__input{
    height: 30px;
    outline: none;
    padding: 5px 0;
    border-bottom: 2px solid #121212;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
    color: #121212;
    background-color: transparent;
}

.contact__input--textarea{
    height: 100px;
    outline: none;
    padding: 5px 0;
    border-bottom: 2px solid #121212;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
    color: #121212;
    resize: none;
    background-color: transparent;
}

.contact__submit-button{
    padding: 18px 55px;
    background-color: #121212;
    border-radius: 50px;
    color: #f2f2f2;
    font-weight: 600;
    border: none;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 10px;
}

.contact__submit-button:hover{
    background-color: #2e2e2e;
}

footer{
    background-color: black;
    position: absolute;
    width: 100.8%;
    display: inline-block;
    margin: 0;
}

.arreglado{
    height: 100%;
    width: 100%;
    display: inline-block;
    background-color: #d5eb8d;
}


@media (max-width:600px){
    .hero__title{
        font-size: 2rem;
    }

    .hero__paragraph{
        font-size: 1rem;
    }

    .subtitle{
        font-size: 1.8rem;
    }

    .price__element{
        width: 90%;
    }

    .price__element--best{
        width: 90%;
        /* padding: 40px; */
    }

    .price__price{
        font-size: 2rem;
    }

    .testimony{
        --padding-container: 60px 0;
    }

    .testimony__container{
        grid-template-columns: 28px 1fr 28px;
        gap: .9em;
    }

    .testimony__arrow{
        width: 100%;
    }

    .testimony__course{
        margin-top: 15px;
    }

    .questions__title{
        font-size: 1rem;
    }

    .footer__title{
        justify-self: start;
        margin-bottom: 15px;
    }

    .nav--footer{
        padding-bottom: 60px;
    }

    .nav__link--footer{
        justify-content: space-between;
    }

    .footer__inputs{
        flex-wrap: wrap;
    }

    .footer__input{
        flex-basis: 100%;
        margin: 0;
        margin-bottom: 16px;
    }

    .footer__submit{
        margin-right: auto;
        margin-left: 0;
        

        /* 
        margin:0;
        width: 100%;
        */
    }
}